<footer>
  <div>
    <p>MacTrack, 2019</p> 
    <p>Powered by <a href="https://www.nutritionix.com/">Nutritionix</a></p>
  </div>
  <div>
    <div class="links"><a href="/about">About Us</a></div>
    <div class="links"><a href="/disclaimer">Disclaimer</a></div>
  </div>
</footer>
